{:paths ["src"]
 :deps {cheshire/cheshire {:mvn/version "5.13.0"}}
 :tasks {lead-report {:doc "Generate lead report from probe results"
                      :requires ([f7.report :as report])
                      :task (report/-main)}
         probe-gen {:doc "Generate probes from concept graph"
                    :requires ([f7.probe-gen :as pg])
                    :task (pg/-main)}}}
